* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: sans-serif;
}
/* header */
.header {
  background-color: bisque;
}
.bannar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.img-bannar {
  width: 70%;
  height: 100%;
  margin-top: 30px;
}
.header-content {
  max-width: 20%;
}
.first-heading {
  margin-bottom: 15px;
}
.description {
  margin-bottom: 15px;
}
.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: brown;
  border-radius: 5px;
}
/* featured section */

.fea-content {
  text-align: center;
  margin-top: 100px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul > li {
  text-align: center;
  list-style: none;
  margin-right: 200px;
}
.three-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: 30px auto;
}
.img-1 {
  background-color: blue;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;

  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.img-2 {
  background-color: chartreuse;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.img-3 {
  background-color: darkorchid;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;

  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.anchor {
}
/* logo section */
.section-bg {
  background-color: rgb(179, 184, 181);
  max-width: 1150px;
  margin: 90px auto;
  border-radius: 10px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 50px 40px;
}
.descrip {
  margin-top: 10px;
}

/* hot deal section */
.span {
  color: brown;
  font-weight: bold;
}
.second-hea {
  margin-bottom: 10px;
}
.hot-deal {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: gold;
  text-align: center;
  padding: 40px;
}
/* my section */
.my-section {
  margin-top: 50px;
  background-color: yellowgreen;
}

.hobbey {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.my-img {
  width: 800px;
  border-radius: 20px;
}
.text-ali {
  text-align: center;
  padding-top: 20px;
}
.hobbey {
  margin-top: 20px;
}
/* instagram  section*/
.ins-section {
  margin-top: 50px;
}
.ins-title {
  text-align: center;
  margin-bottom: 10px;
}
.four-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 800px;
  margin: 30px auto;
}
.same {
  width: 270px;
  border-radius: 10px;
}
/* backgroound image section */
.background {
 background-image: url(../);
}
